@media(max-width:450px) {

font-size="5";

.container {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: 100px minmax(230px, 2fr) max-content 100px;
    grid-template-areas:
        "hd"
        "main"
        "feat"
        "ft";
    width: 100%;
    font-family: sans-serif, serif, monospace, cursive, math;
  }

.feature {
    height: content;
  }

.ContactMe {
    padding: 20px 10px;
  }

.ContactMe li {
    padding: 8px 16px;
  }
}
